<div id="container">
  <div id="left-container">
    <form #ngForm="ngForm" (ngSubmit)="login()">
      <mat-card
        appearance="outlined"
        [ngClass]="{ 'light-theme': currentTheme, 'dark-theme': !currentTheme }"
      >
        <mat-card-content>
          <label class="mat-card-label">Formularz logowania</label>
          <mat-form-field>
            <mat-label
              [ngClass]="{
                'light-theme-icon': currentTheme,
                'dark-theme-icon': !currentTheme
              }"
              >Podaj swój e-mail:</mat-label
            >
            <input
             matInput 
             name="email"
             [(ngModel)]="model.email"
             />
          </mat-form-field>

          <mat-form-field>
            <mat-label
              [ngClass]="{
                'light-theme-icon': currentTheme,
                'dark-theme-icon': !currentTheme
              }"
              >Podaj swoje hasło:</mat-label
            >
            <input 
            matInput 
            name="password"
            [(ngModel)]="model.password"
            [type]="hidePassword ? 'password' : 'text'" />
            <button
              mat-icon-button
              matSuffix
              (click)="clickEvent($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword"
            >
              <mat-icon>{{
                hidePassword ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>
          <button type="submit"
            mat-flat-button
            class="submit-button"
            [ngClass]="{
              'light-theme-icon': currentTheme,
              'dark-theme-icon': !currentTheme
            }"
          >
            Zaloguj się
          </button>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>
