#left-container{
  justify-content: center;
  align-items: center;
}
mat-card{
  display: flex;
  height: 300px;
  width: 300px;
  height: 375px;
  width: 350px;
  margin-top: 20px;
}

mat-card-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
}
mat-form-field{
  width: 250px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  mat-form-field{
    width: 300px;
  }
  mat-card{
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  mat-form-field{
    width: 350px;
  }
  mat-card{
    width: 600px;
  }
}