@use '@angular/material' as mat;

@include mat.core();

$guineapigcare_client-primary: mat.define-palette(mat.$green-palette);
$guineapigcare_client-accent: mat.define-palette(mat.$orange-palette, A200, A200, A400);
$guineapigcare_client-warn: mat.define-palette(mat.$red-palette);

$guineapigcare_client-theme: mat.define-light-theme((
  color: (
    primary: $guineapigcare_client-primary,
    accent: $guineapigcare_client-accent,
    warn: $guineapigcare_client-warn,
  )
));

@include mat.all-component-themes($guineapigcare_client-theme);

