@use '@angular/material' as mat;
@use 'src/custom-theme' as theme;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
}
mat-label{
  color: mat.get-color-from-palette(theme.$guineapigcare_client-primary) !important;
}
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;
  padding: 10px 50px 20px 50px;
}

.light-theme {
  background-color: mat.get-color-from-palette(theme.$guineapigcare_client-primary) !important;
}
.dark-theme {
  background-color: mat.get-color-from-palette(theme.$guineapigcare_client-warn) !important;
}
.light-theme-icon {
  color: mat.get-color-from-palette(theme.$guineapigcare_client-primary) !important;
}
.dark-theme-icon {
  color: mat.get-color-from-palette(theme.$guineapigcare_client-warn) !important;
}
.light-theme-background{
  background-color: silver !important;
  z-index: 1;
}
.dark-theme-background{
  background-color: grey !important;
  z-index: 5;
}
.light-theme-font-color{
  color: black;
}
.dark-theme-font-color{
  color: white;
}
.light-theme-cloud{
  background-color: white;
}
.dark-theme-cloud{
  color: black;
  background-color:lavender;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {

}

@media screen and (min-width: 1200px) {

}
