@use '@angular/material' as mat;
@use 'src/custom-theme' as theme;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
}

mat-label{
  color: mat.get-color-from-palette(theme.$guineapigcare_client-primary) !important;
  width: 200px !important;
}
mat-card{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 200px;
  min-width: 300px;
  border-radius: 30px !important;
  padding: 20px !important;
  border: 5px solid white !important;
}
mat-form-field{
  width: 280px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;
  padding: 10px 50px 20px 50px;
}
.mat-card-label{
    font-size: 24px !important;
}

.light-theme {
  background-color: mat.get-color-from-palette(theme.$guineapigcare_client-primary) !important;
}
.dark-theme {
  background-color: mat.get-color-from-palette(theme.$guineapigcare_client-warn) !important;
}
.light-theme-icon {
  color: mat.get-color-from-palette(theme.$guineapigcare_client-primary) !important;
}
.dark-theme-icon {
  color: mat.get-color-from-palette(theme.$guineapigcare_client-warn) !important;
}
.light-theme-background{
  background: rgba(255, 255, 255, 0.6);
}
.dark-theme-background{
  background: rgba(0, 0, 0, 0.5);
}
.light-theme-font-color{
  color: black !important;
}
.dark-theme-font-color{
  color: white !important;
}
.light-theme-cloud{
  background-color: white;
}
.dark-theme-cloud{
  color: black;
  background-color:lavender;
}
.light-theme-img-green-border{
  border: 5px solid green;
  border-radius: 35px;
}
.dark-theme-img-green-border{
  border: 5px solid green;
  border-radius: 35px;
}
.light-theme-img-red-border{
  border: 5px solid red;
  border-radius: 35px;
}
.dark-theme-img-red-border{
  border: 5px solid orangered;
  border-radius: 35px;
}
.submit-button{
  min-width: 180px;
  min-height: 50px;
  width: 180px !important;
  padding: 20px;
  font-size: 20px;
  margin-bottom: 20px !important;
  background-color: white !important;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {

}

@media screen and (min-width: 1200px) {

}
