<div id="profile-container">
    <div id="profile-title">Profil Świnki morskiej</div>
    <div id="profile-content-container">
        <div id="profile-content-navigation">
          <button mat-button routerLink="/profile/guinea-pig-profile">Przeglądaj profil swojej świnki</button>
            <button mat-button routerLink="/profile/guinea-pig-add-profile">Dodaj profil swojej świnki</button>
            <button mat-button routerLink="/profile/guinea-pig-update-profile">Aktualizuj profil swojej świnki</button>
            <button mat-button routerLink="/profile/guinea-pig-cleaning-calendar">Kalendarz czystości</button>
            <button mat-button routerLink="/profile/guinea-pig-remove-profile">Usuń profil świnki</button>
        </div>
        <div id="profile-content-body">
          Simple text
        </div>
    </div>
  </div>