<div id="container">
    <div id="formContainer">
      <mat-card appearance="outlined" [ngClass]="{'light-theme': currentValue, 'dark-theme': !currentValue}" >
          <mat-card-content>
              <label>Formularz rejestracji</label>
              <mat-form-field>
                  <mat-label>Podaj swój e-mail:</mat-label>
                  <input matInput>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Podaj swoje hasło:</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" />
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="clickEvent($event)"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide"
                  >
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Powtórz hasło:</mat-label>
                  <input matInput [type]="hide2 ? 'password' : 'text'" />
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="clickEvent2($event)"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide2"
                  >
                    <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
          </mat-card-content>
        </mat-card>
    </div>
        <div id="piggyCloudContainer">
          <div id="cloud">Nie masz jeszcze konta? Zarejestruj się i razem zapisujmy najważniejsze informacje i pomiary!</div>
          <div id="point3"></div>
          <div id="point2"></div>
          <div id="point1"></div>
        </div>
  </div>