#container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  min-height: 350px;
}
#formContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  min-width: 400px;
}
#piggyCloudContainer{
  display: flex;
  flex-direction: column;
  width: 60%;
  min-width: 600px;
}
mat-card{
  display: flex;
  background-color: green;
  height: 300px;
  width: 300px;
}
label{
  margin-bottom: 20px;
}
mat-card-content{
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 16px;
}
#cloud{
  width: 50%;
  min-width: 400px;
  padding: 30px;
  height: 100px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 160px;
  display: flex;
  border-radius: 40px;
  border: 1px solid black;
  color: white;
  background-color: silver;
  font-weight: normal;
  font-size: 20px;
}
#point1{
  width: 10px;
  height: 10px;
}
#point2{
  width: 15px;
  height: 15px;
}
#point3{
  width: 20px;
  height: 20px;
}
#point1, #point2, #point3{
  margin-top: 10px;
  margin-left: auto;
  margin-right: 190px;
  border-radius: 50px;
  border: 1px solid black;
  background-color: silver;
}
.light-theme{
  background-color: green !important;
}
.dark-theme{
  background-color: red !important;
}