<div id="profile-container">
  <div id="profile-title">Profil Użytkownika</div>
  <div id="profile-content-container">
      <div id="profile-content-navigation">
          <button mat-button routerLink="/profile/user-profile">Informacje profilowe</button>
          <button mat-button routerLink="/profile/edit-profile">Edytuj profil</button>
          <button mat-button routerLink="/profile/user-change-password">Zmień hasło</button>
          <button mat-button routerLink="/profile/remove-profile">Usuń profil użytkownika</button>
      </div>
      <div id="profile-content-body">
        Simple text
      </div>
  </div>
</div>