<div id="change-password-container">
  <form #ngForm="ngForm" (ngSubmit)="changePassword(model)">
    <mat-card
      [ngClass]="{ 'light-theme': currentTheme, 'dark-theme': !currentTheme }"
    >
    <mat-card-content>
        <label class="mat-card-label">Formularz zmiany hasła</label>
        <mat-form-field>
          <mat-label
            [ngClass]="{
              'light-theme-icon': currentTheme,
              'dark-theme-icon': !currentTheme
            }"
            >Podaj aktualne hasło:</mat-label
          >
          <input 
          matInput 
          name="password"
          [(ngModel)]="model.currentPassword"
          [type]="hidePassword ? 'password' : 'text'" />
          <button
            mat-icon-button
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [ngClass]="{
              'light-theme-icon': currentTheme,
              'dark-theme-icon': !currentTheme
            }"
            >Podaj nowe hasło:</mat-label
          >
          <input 
          matInput 
          name="password"
          [(ngModel)]="model.newPassword"
          [type]="hidePassword ? 'password' : 'text'" />
          <button
            mat-icon-button
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [ngClass]="{
              'light-theme-icon': currentTheme,
              'dark-theme-icon': !currentTheme
            }"
            >Powtórz nowe hasło:</mat-label
          >
          <input 
          matInput 
          name="password"
          [(ngModel)]="model.newPassword"
          [type]="hidePassword ? 'password' : 'text'" />
          <button
            mat-icon-button
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>
        <button
          type="submit"
          mat-flat-button
          class="submit-button"
          [ngClass]="{
            'light-theme-icon': currentTheme,
            'dark-theme-icon': !currentTheme
          }"
        >
          Zmień hasło
        </button>
      </mat-card-content>
    </mat-card>
  </form>
</div>
