<div class="container">
  <form #ngForm="ngForm" (ngSubmit)="changePassword(model)">
    <mat-card
      [ngClass]="{ 'light-theme': themeHelper.currentTheme, 'dark-theme': !themeHelper.currentTheme }"
    >
    <mat-card-content>
        <label class="mat-card-label">Formularz zmiany hasła</label>
        <mat-form-field>
          <mat-label
            [ngClass]="{
              'light-theme-icon': themeHelper.currentTheme,
              'dark-theme-icon': !themeHelper.currentTheme
            }"
            >Podaj aktualne hasło:</mat-label
          >
          <input 
          matInput 
          name="password1"
          [(ngModel)]="model.currentPassword"
          [type]="hidePassword1 ? 'password' : 'text'" />
          <button
          type="button"
            mat-icon-button
            matSuffix
            (click)="changePasswordVisibility('hidePassword1')"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword1"
          >
            <mat-icon>{{
              hidePassword1 ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [ngClass]="{
              'light-theme-icon': themeHelper.currentTheme,
              'dark-theme-icon': !themeHelper.currentTheme
            }"
            >Podaj nowe hasło:</mat-label
          >
          <input 
          matInput 
          name="password2"
          [(ngModel)]="model.newPassword"
          [type]="hidePassword2 ? 'password' : 'text'" />
          <button
          type="button"
            mat-icon-button
            matSuffix
            (click)="changePasswordVisibility('hidePassword2')"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword2"
          >
            <mat-icon>{{
              hidePassword2 ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [ngClass]="{
              'light-theme-icon': themeHelper.currentTheme,
              'dark-theme-icon': !themeHelper.currentTheme
            }"
            >Powtórz nowe hasło:</mat-label
          >
          <input 
          matInput 
          name="password3"
          [(ngModel)]="model.repeatNewPassword"
          [type]="hidePassword3 ? 'password' : 'text'" />
          <button
          type="button"
            mat-icon-button
            matSuffix
            (click)="changePasswordVisibility('hidePassword3')"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword3"
          >
            <mat-icon>{{
              hidePassword3 ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>
        <button
          type="submit"
          mat-flat-button
          class="submit-button"
          [ngClass]="{
            'light-theme-icon': themeHelper.currentTheme,
            'dark-theme-icon': !themeHelper.currentTheme
          }"
        >
          Ok
        </button>
      </mat-card-content>
    </mat-card>
  </form>
</div>
