<div id="change-password-container">
  <form #ngForm="ngForm" (ngSubmit)="changePassword(model)">
    <mat-card
      [ngClass]="{ 'light-theme': currentTheme, 'dark-theme': !currentTheme }"
    >
    <mat-card-content>
        <label class="mat-card-label">Formularz zmiany hasła</label>
        <mat-form-field>
          <mat-label>Aktualne hasło:</mat-label>
          <input
            matInput
            name="currentPassword"
            [(ngModel)]="model.currentPassword"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Aktualne hasło:</mat-label>
          <input
            matInput
            name="currentPassword"
            [(ngModel)]="model.currentPassword"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Aktualne hasło:</mat-label>
          <input
            matInput
            name="currentPassword"
            [(ngModel)]="model.currentPassword"
          />
        </mat-form-field>
        <button
          type="submit"
          mat-flat-button
          class="submit-button"
          [ngClass]="{
            'light-theme-icon': currentTheme,
            'dark-theme-icon': !currentTheme
          }"
        >
          Zmień hasło
        </button>
      </mat-card-content>
    </mat-card>
  </form>
</div>
