<div id="container">
    <div id="product-container">
        <title>Nazwa produktu</title>
        <div id="name">
            <div class="product-name">Ogórek zielony</div>
            <div class="product-name">Pomidor</div>
            <div class="product-name">Seler</div>
            <div class="product-name">Marchew</div>
        </div>
        <title>Opis produktu</title>
        <div id="description">
            <div class="product-description">Ogórek jest okey</div>
            <div class="product-description">Pomidor jest okey</div>
            <div class="product-description">Seler jest okeyy</div>
            <div class="product-description">Marchew jest okey</div>
        </div>
    </div>
</div>