<div class="container">
    <form #ngForm="ngForm" (ngSubmit)="removeGuineaPigProfile()">
      <mat-card
        [ngClass]="{
          'light-theme': themeHelper.currentTheme,
          'dark-theme': !themeHelper.currentTheme
        }"
      >
        <mat-card-content>
          <label class="mat-card-label">Usuń profil świnki</label>
          <mat-form-field>
            <mat-label  [ngClass]="{
              'light-theme-icon': themeHelper.currentTheme,
              'dark-theme-icon': !themeHelper.currentTheme
            }">Wybierz świnkę</mat-label>
            <mat-select [(value)]="selectedPig">
              <mat-option *ngFor="let guineapig of guineaPigs" [value]="guineapig">
                {{ guineapig.name }}
              </mat-option>
          </mat-select>
          </mat-form-field>
  
          <button
            type="submit"
            mat-flat-button
            class="submit-button"
            [ngClass]="{
              'light-theme-icon': themeHelper.currentTheme,
              'dark-theme-icon': !themeHelper.currentTheme
            }"
          >
            OK
          </button>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
  