@use '@angular/material' as mat;
@use 'src/custom-theme' as theme;

#navbar-container {
  display: flex;
  height: 60px;
  width: 100%;
}
button{
  display: flex;
  width: auto;
  height: auto;
  font-size: 16px;
  padding: 10px;
}
mat-toolbar-row {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.paddingRight {
  display: flex;
  padding-right: 20px;
  margin-left: auto;
}
mat-slide-toggle {
  padding-left: 10px;
}
.menu-button{
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  #navbar-container {
    display: flex;
    min-width: 800px;
  }
  #hamburger-menu-button{
        display: flex;
    }
    .menu-button{
      display:none;
    }
  }
  @media screen and (min-width: 1200px) {
    #hamburger-menu-button{
      display: none;
  }
      .menu-button{
      display:flex
    }
    #navbar-container {
      display: flex;
      min-width: 800px;
    }
  }
  