<div id="guinea-pig-container">
    <div class="info-text">
        Witaj na profilu swojej świnki morskiej! Po dodaniu profilu świnki będą widoczne wykresy na którym możesz porównywać wagę, a dzięki temu dostosowywać dietę dla świnki. Prawidłowa waga świnki morskiej zależy od jej wieku, płci i rasy. 
    </div>
    <div class="info-text-middle">
        Generalnie dorosłe świnki morskie ważą:
    </div>
        <ul id="weight-list">
           <li class="weight-list-point">Samce: od 900 do 1200 gramów.</li> 
            <li class="weight-list-point">Samice: od 700 do 900 gramów.</li>
        </ul>
    <div class="info-text">
        Młode świnki morskie tuż po urodzeniu ważą zwykle od 70 do 120 gramów. Warto monitorować wagę swojego zwierzęcia, ponieważ zarówno zbyt niska, jak i zbyt wysoka waga mogą świadczyć o problemach zdrowotnych. Regularne ważenie i konsultacje z weterynarzem są kluczowe dla utrzymania zdrowia świnki morskiej.
    </div>

</div>