@use "@angular/material" as mat;

// Definicja palet kolorów
$guineapigcare_client-primary: mat.define-palette(mat.$green-palette);
$guineapigcare_client-accent: mat.define-palette(
  mat.$green-palette,
  A200,
  A200,
  A400
);
$guineapigcare_client-warn: mat.define-palette(mat.$red-palette);

// Definicja tematu
$guineapigcare_client-theme: mat.define-light-theme(
  (
    color: (
      primary: $guineapigcare_client-primary,
      accent: $guineapigcare_client-accent,
      warn: $guineapigcare_client-warn,
    ),
  )
);


@include mat.all-component-themes($guineapigcare_client-theme);

#footer-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  justify-content: center;
  align-items: center;
}
#bar {
  display: flex;
  width: 100%;
  min-height: 70px;
  justify-content: center;
  background-color: mat.get-color-from-palette($guineapigcare_client-primary);
  color: mat.get-contrast-color-from-palette(
    $guineapigcare_client-primary,
    "default"
  );
}

#photoGuineaPig {
  display: flex;
  width: 200px;
  height: 200px;
  background-image: url(../../assets/images/guineapig.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 20px;
}
.light-theme {
  background-color: green !important;
}
.dark-theme {
  background-color: red !important;
}
.light-theme-icon {
  color: green !important;
}
.dark-theme-icon {
  color: red !important;
}
#sound{
  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  color: white;
  color: green;
  background-color: white;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #photoGuineaPig {
    margin: auto 120px 0 auto;
  }
  #sound{
    margin-right: 180px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  #bar{
    min-width: 1000px;
    padding-left: 100px;
  }
  #photoGuineaPig {
    margin: auto 150px 0 auto;
  }
  #sound{
    margin-right: 200px;
    margin-left: auto;
  }
  #photoContainer{
    min-width: 1000px;
    }
}