@use '@angular/material' as mat;
@use 'src/custom-theme' as theme;

#footer-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  justify-content: center;
  align-items: center;
}
#bar {
  display: flex;
  width: 100%;
  min-height: 70px;
  justify-content: center;
  background-color: mat.get-color-from-palette(theme.$guineapigcare_client-warn);
}

#photoGuineaPig {
  display: flex;
  width: 200px;
  height: 200px;
  background-image: url(../../assets/images/guineapig.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 20px;
}
#sound{
  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  color: white;
  color: green;
  background-color: white;
}
#cloud{
    width: 50%;
    min-width: 200px;
    min-height: 150px;
    height: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    margin-left: auto;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    border-radius: 40px;
    border: 1px solid black;
    color: white;
    background-color: silver;
    font-size: 20px;
  }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #photoGuineaPig {
    margin: auto 120px 0 auto;
  }
  #sound{
    margin-right: 180px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  #bar{
    min-width: 1000px;
    padding-left: 100px;
  }
  #photoGuineaPig {
    margin: auto 150px 0 auto;
  }
  #sound{
    margin-right: 200px;
    margin-left: auto;
  }
  #photoContainer{
    min-width: 1000px;
    }
}