<div id="container">
    <button mat-flat-button [ngClass]="{'light-theme': currentValue, 'dark-theme': !currentValue}">Mój profil</button>
    <button mat-flat-button [ngClass]="{'light-theme': currentValue, 'dark-theme': !currentValue}">Edytuj profil</button>
    <button mat-flat-button [ngClass]="{'light-theme': currentValue, 'dark-theme': !currentValue}">Moje świnki</button>
    <button mat-flat-button [ngClass]="{'light-theme': currentValue, 'dark-theme': !currentValue}">Zarządzanie świnkami</button>
</div>