<div id="profile-container">
  <button
    mat-flat-button
    [ngClass]="{ 'light-theme': currentTheme, 'dark-theme': !currentTheme }"
  >
    Mój profil
  </button>
  <button
    mat-flat-button
    [ngClass]="{ 'light-theme': currentTheme, 'dark-theme': !currentTheme }"
  >
    Edytuj profil
  </button>
  <button
    mat-flat-button
    [ngClass]="{ 'light-theme': currentTheme, 'dark-theme': !currentTheme }"
  >
    Moje świnki
  </button>
  <button
    mat-flat-button
    [ngClass]="{ 'light-theme': currentTheme, 'dark-theme': !currentTheme }"
  >
    Zarządzanie świnkami
  </button>
</div>
