<div id="profile-container">
    <div id="profile-title" [ngClass]="{ 'light-theme': themeHelper.currentTheme, 'dark-theme': !themeHelper.currentTheme }">Profil Świnki morskiej</div>
    <div id="profile-content-container">
      <div id="profile-content-navigation">
        <button mat-button routerLink="/guinea-pig/profile" [ngClass]="{'dark-theme-font-color': !themeHelper.currentTheme, 'light-theme-font-color': themeHelper.currentTheme}">Profil</button>
        <button mat-button routerLink="/guinea-pig/add-profile" [ngClass]="{'dark-theme-font-color': !themeHelper.currentTheme, 'light-theme-font-color': themeHelper.currentTheme}">Dodaj świnkę</button>
        <button mat-button routerLink="/guinea-pig/update-profile" [ngClass]="{'dark-theme-font-color': !themeHelper.currentTheme, 'light-theme-font-color': themeHelper.currentTheme}">Aktualizuj wagę świnki</button>
        <button mat-button routerLink="/guinea-pig/check-weights" [ngClass]="{'dark-theme-font-color': !themeHelper.currentTheme, 'light-theme-font-color': themeHelper.currentTheme}">Sprawdź wagę świnki</button>
        <button mat-button routerLink="/guinea-pig/remove-profile" [ngClass]="{'dark-theme-font-color': !themeHelper.currentTheme, 'light-theme-font-color': themeHelper.currentTheme}">Usuń profil świnki</button>
      </div>
      <div id="profile-content-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>