<div id="manager-container">
  <div id="add-container">
    <div class="info">Dodaj profil Twojej świnki</div>
    <form>
        <mat-form-field>
            <mat-label>Imię świnki</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Rasa</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Waga</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Własne notatki</mat-label>
            <input matInput>

        </mat-form-field>
        <button mat-flat-button type="submit">Ok</button>
    </form>


  </div>
  <div id="update-container">
    <div class="info">Zaaktualizuj informacje o śwince</div>
    <form>
        <button mat-flat-button type="submit">Ok</button>
    </form>
  </div>


  <div id="remove-container">
    <div class="info">Usuń profil Twojej świnki</div>
    <form>
        <mat-form-field>
            <mat-label>Imię świnki</mat-label>
            <input matInput>
        </mat-form-field>
        <div id="button-container">
            <button mat-flat-button>Ok</button>
        </div>
    </form>
  </div>
</div>
