<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/logs/internalLogger.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File" name="allExceptions" fileName="${basedir}/logs/exceptions/exceptionsLogs.txt"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Error"  writeTo="allExceptions" />
	</rules>
	
</nlog>
