<div id="container">
  <div class="title">{{ information.Title }}</div>
  <div id="description">{{ information.Description }}</div>
  <div id="left-container">
    <div id="benefits-container" class="sub-container">
      <div class="title">Korzyści posiadania świnki morskiej:</div>
      <ul id="benefits" *ngFor="let benefit of information.Benefits">
        <li>{{ benefit }}</li>
      </ul>
    </div>
    <div id="dangers-container" class="sub-container">
      <div class="title">Poważne zagrożenia dla świnki morskiej:</div>
      <ul id="dangers" *ngFor="let danger of information.Dangers">
        <li>{{ danger }}</li>
      </ul>
    </div>
    <div id="responsibilities-container" class="sub-container">
      <div class="title">Obowiązki opiekuna świnki morskiej:</div>
      <ul
        id="responsibilities"
        *ngFor="let responsibilities of information.Responsibilities"
      >
        <li>{{ responsibilities }}</li>
      </ul>
    </div>
  </div>
</div>
