@use '@angular/material' as mat;
@use 'src/custom-theme' as theme;

mat-vertical-stepper{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
mat-step{
display: flex;
width: 100%;
height: 100%;
}
mat-card{
  display: flex;
  width: 280px;
  height: 380px;
  margin-top: 20px;
}
#mat-card-personal-information{
height: 450px !important;
}
#mat-card-confirm-register{
  height: 200px;
}
label{
  margin-bottom: 20px;
}

mat-card-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
}
mat-form-field{
  width: 200px;
}
label{
  margin-bottom: 20px;
  font-size: 26px;
}
;;ng-deep .light-theme-font-color{
  color: black !important;
}
::ng-deep .dark-theme-font-color{
  color: white !important;
}
// ::ng-deep .mat-step-label{

//   }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  mat-form-field{
    width: 300px;
  }
  mat-card{
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  mat-form-field{
    width: 350px;
  }
  mat-card{
    width: 600px;
  }
}