<div id="container">
  <div id="left-container">
    <form #ngForm="ngForm" (ngSubmit)="registerUser()">
      <mat-card
        appearance="outlined"
        [ngClass]="{ 'light-theme': currentTheme, 'dark-theme': !currentTheme }"
      >
        <mat-card-content>
          <label>Formularz rejestracji</label>
          <mat-form-field>
            <mat-label
              [ngClass]="{
                'light-theme-icon': currentTheme,
                'dark-theme-icon': !currentTheme
              }"
              >Podaj swój e-mail:</mat-label
            >
            <input matInput name="email" [(ngModel)]="model.email" />
          </mat-form-field>
          <mat-form-field>
            <mat-label
              [ngClass]="{
                'light-theme-icon': currentTheme,
                'dark-theme-icon': !currentTheme
              }"
              >Podaj swoje hasło:</mat-label
            >
            <input
              name="password"
              [(ngModel)]="model.password"
              matInput
              [type]="hide ? 'password' : 'text'"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="clickEvent($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field>
            <mat-label
              [ngClass]="{
                'light-theme-icon': currentTheme,
                'dark-theme-icon': !currentTheme
              }"
              >Powtórz hasło:</mat-label
            >
            <input
              name="repeatPassword"
              [(ngModel)]="model.repeatPassword"
              matInput
              [type]="hide2 ? 'password' : 'text'"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="clickEvent2($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide2"
            >
              <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
          <button
            type="submit"
            mat-flat-button
            class="submit-button"
            [ngClass]="{
              'light-theme-icon': currentTheme,
              'dark-theme-icon': !currentTheme
            }"
          >
            Zarejestruj się
          </button>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>
