<div id="container">
  <div id="infoContainer">
    <div class="info">
      Witamy Cię serdecznie na naszej stronie, która jest prawdziwym rajem dla wszystkich pasjonatów świnek morskich! 
    </div>
    <div class="info">Znajdziesz tutaj najlepsze porady oraz wskazówki dotyczące opieki!</div>
    <div class="info">
      Serdecznie zapraszamy również do rejestracji, by móc śledzić zdrowie oraz
      dodawać notatki na temat swojego zwierzaka.
    </div>
    <div class="info"> Proszę zaloguj się jeśli
      chcesz skorzystać z wszystkich funkcji.</div>
  </div>
</div>
