#app-container{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
}
app-navbar{
    display: flex;
    width: 100%;
    min-height: 10vh;
    margin-top: 5px;
}
router-outlet{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
app-footer-navigation{
    min-height: 250px;
}