#container{
    display: flex;
    flex-direction: column;
    height: 80%;
    min-height: 100px;
    width: 100vw;
    min-height: 50vh;
}
app-navbar{
    display: flex;
    width: 100vw;
    height: 10vh;
    min-height: 10vh;
}
router-outlet{
    display: flex;
    width: 100vw;
    min-height: 50px;
}
app-footer-navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: auto;
    height: 20vh;
    min-height: 200px;
}